[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "*"
certifi = "*"
Click = "*"
distlib = "*"
filelock = "*"
Flask = "*"
Flask-JWT = "*"
PyMySQL = "*"
flask-marshmallow = "*"
Flask-SQLAlchemy = "*"
importlib-metadata = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
pipenv = "*"
python-dotenv = "*"
six = "*"
SQLAlchemy = "*"
virtualenv = "*"
virtualenv-clone = "*"
Werkzeug = "*"
zipp = "*"


[requires]
python_version = "3.7"